services:
  backend:
    build: ./backend
    restart: unless-stopped
    env_file: ./backend/.env
    expose:
      - "8001"
    networks:
      - lab-net

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: /api # frontend code needs this env-variable
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - lab-net

networks:
  lab-net: