#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.vm-card {
  min-width: 250px;       /* pienin sallittu leveys */
  flex: 1 1 0;            /* skaalautuu tilan mukaan */
  height: 100%;           /* täyttää Colin korkeuden */
  display: flex;
  flex-direction: column;
  padding: 1rem;
}